.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#nbrVie{
  /*margin-top: 140px;
  margin-bottom: 140px;*/
}

#buttonStart{
  /*margin-top: 80px;
  margin-bottom: 60px;*/
  border: 1px;
  float: left;
  width: 350px;
  height: 100px;
  background-image: url("start.png");

 }

.square {
  border: 0px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 183px;
  padding: 0;
  text-align: center;
  width: 183px;
  background-size: cover;
}

.curs1{
  cursor: url("marteau/marteauBois.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.curs2{
  cursor: url("marteau/marteauBronze.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.curs3{
  cursor: url("marteau/marteauArgent.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.curs4{
  cursor: url("marteau/marteauOr.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.curs5{
  cursor: url("marteau/marteauThor.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}


.gauche{
  float:left;
  width: 550px;
  height: 550px;
  border-style: solid;
}
.droite{
  font-size: 30px;
  font-weight: bold;
  color: red;
  border-color: white;
  border-style: solid;
  float:right;
  width: 350px;
  height: 450px;
  background-image: url("thor.jpg");
  background-size: cover;
}

.ensemble{
  width: auto;
  height: auto;
  border-style: solid;
}

.titre{
  color: black;
}

.status {
  font-size: 20px;
  width: 902px;
  height: 100px;
  border: 0px;
  background-image: url("herbe.png");
  background-size: cover;
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-row{

}