.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#nbrVie{
  margin-top: 140px;
  margin-bottom: 140px;
}

#buttonStart{
  margin-top: 80px;
  margin-bottom: 60px;
  float: left;
  width: 600px;
  height: 300px;
  background-image: url("start.png");
  background-size: cover;
 }

.square {
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 600px;
  height: 660px;
  padding: 0;
  text-align: center;
  width: 660px;
  background-size: cover;
  cursor: url("marteauBois.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.gauche{
  float:left;
  width: auto;
  border-style: double;
}
.droite{
  border-style: double;
  float:right;
  width: auto;
}

.ensemble{
  width: 3050px;
  border-style: double;
}

.titre{
  color: black;
}

.status {
  border-style: double;
  border-color: transparent;
  background-image: url("herbe.png");
  background-size: cover;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-row{

}