.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#nbrVie{
  /*margin-top: 140px;
  margin-bottom: 140px;*/
}

#buttonStart{
  border: 1px;
  float: left;
  width: 350px;
  height: 100px;
  background-image: url("start.png");

 }
/*square est la classe pour les boutons (donc la taupe et les terriers)*/
.square {
  border: 0px;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 183px;
  padding: 0;
  text-align: center;
  width: 183px;
  background-size: cover;
}
/*Ici tous les curs correspondent à des palier à atteindre pour avoir un nouveau skin de marteau (nouveau visuel de la souris)*/
.curs1{
  cursor: url("marteau/marteauBois.png") 25 20, auto; /*"https://img.icons8.com/dusk/128/000000/auction.png"*/
}

.curs2{
  cursor: url("marteau/marteauBronze.png") 25 20, auto;
}

.curs3{
  cursor: url("marteau/marteauArgent.png") 25 20, auto;
}

.curs4{
  cursor: url("marteau/marteauOr.png") 25 20, auto;
}

.curs5{
  cursor: url("marteau/marteauThor.png") 25 20, auto;
}
/*gauche met tous les élément de la zone de jeu à gauche (taupe et terriers)*/
.gauche{
  float:left;
  width: 550px;
  height: 550px;
  border-style: solid;
}
/*droite met les élément d'information à droite (score, vie...)*/
.droite{
  font-size: 30px;
  font-weight: bold;
  color: white;
  border-color: white;
  border-style: solid;
  float:right;
  width: 350px;
  height: 450px;
}
/*tout est dans le nom, atteignez 150 points pour le voir
(ou 200 si vous voulez vraiment jouer, il y a la version difficile
sur gitHub à télécharger il s'agit de la version "2.7 // Version Final Hard"*/
.easter-egg{
  color: darkgreen;
  background-image: url("thor.jpg");
  background-size: cover;
}
/*correspond au div qui contient l'ensemble des éléments*/
.ensemble{
  width: auto;
  height: auto;
  border-style: solid;
}

.titre{
  color: black;
}
/*status correspond à la présentation en haut pour le titre*/
.status {
  font-size: 20px;
  width: 902px;
  height: 100px;
  border: 0px;
  background-image: url("herbe.png");
  background-size: cover;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.board-row{

}